nav ul {
    margin: 20px 50px 0px 50px;
    padding: 0 50px;
    list-style-type: none;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.form-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    cursor: pointer;
    color: #666;
    font-size: 22px;
    line-height: 1.7rem;;
}

nav ul form input {
    margin-top: 3px;
    padding: 20px; 
    border: 1px solid #666; 
    border-radius: 80px;
    font-size: 16px; 
}


.left li, .right li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    height: 55%;
}

nav ul div li a {
    text-decoration: none;
    color: #666;
    font-size: 24px;
}

nav ul div li:hover {
    background-color: mistyrose;
    color: lightcoral;
}

nav ul div a:hover {
    color: lightcoral;
}


#user-menu{
    position:relative;
    z-index: 100;
}

/*hide the inputs*/
input[id=check01]{
    display:none
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    max-height:0;
    overflow:hidden;
    list-style-type:none;
    background:#f3f3f3;
    border: none;
    transition:max-height 0.5s ease-out;
    position:absolute;
    min-width:100%;
    top: 65px;
    left: -5px;
    z-index: 100;
}

ul.submenu li {
    width: 70%;
}

ul.submenu li a{
    display:block;
    margin: 0;
    padding: 10px;
    color:#666;
    text-decoration:none;
    transition: background .3s;
}



.recipe-main  {
    width: 65%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 8px;
}

.recipe-category {
    padding: 20px;
    background-color: #e1fff3;
    margin: 40px 0;
    overflow-y: auto;
}

.category-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-info h1 {
    margin: 20px;
    color: gray;
}

.more {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 5.3rem;  
}


.recipe-category h1::first-letter {
    text-transform: uppercase;
}

.category-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}


.remove-all-styles {
    all: unset;
    cursor: pointer;
}

.recipe-card {
    height: 500px;  
    display: grid;
    grid-template-rows: 3fr 1fr;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    background-color: #fff4f4;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px;
    padding: 5px;
  }
  
.recipe-card:hover {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.35);
    background-color: mistyrose
}

.recipe-image{
    width: 100%;
    height: 350px;
    border-radius: 4px;
    position: absolute; 
    z-index: 2;
}
  
.recipe-info-card {
    padding: 0px 16px;
    margin: 0;
}

.recipe-name {
    height: 60px;
    margin: 0;
}

.recipe-meta-info {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-content: center;
}

.recipe-meta-info * {
    margin: 0;
    padding: 0;
}

.recipe-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe-actions * {
    margin: 0 5px;
    padding: 0;
    font-size: 20px;
}

.details-recipe-main {
    width: 85%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.details-recipe-image {
    width: 100%;
    height: 900px;
}

.black {
    background-color: black;
    width: 100%;z-index: 1;
    height: 100vh;
}

.details-recipe-name-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 500px;
    overflow-x: hidden;
}

.details-remove-all-styles {
    all: unset;
    cursor: pointer;
    color: blue;
}

.details-recipe-card {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    position: absolute;
    top: 700px;
    left: 100px;
    z-index: 1;
}

.details-recipe-meta-info {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}

.details-recipe-meta-info * {
    margin: 0;
    padding: 0;
}

.details-nutrition-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    grid-gap: 2px;
}
.details-nutrition-container > div {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
}

.details-nutrition-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    padding: 10px;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,0.2);

}

.details-secondary-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2px;
}

.details-ingredients-container {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}

.ingredient { 
    display: flex;
    flex-direction: row;
    justify-self: left;
}

/* .ingredient p:nth-of-type(1) {
    padding: 15px;
    font-weight: 600;
    margin: 0;
} */

.ingredient-text {
    color: red !important;
    font-weight: 100;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.details-preparation-container {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}

.light-text-p {
    color: gray;
    font-weight: 100;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.light-text-h3 {
    color: gray;
    font-weight: 100;
    margin: 20px;
}

.steps-container {
    margin-bottom: 60px;
}

.steps-text {
    margin-left: 20px;
    font-size: 18px;
}

.search-result-count {
    margin: 30px;
}

.users-profile-main {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: space-between;
    background: none;
}


.users-profile-info {
    height: 900px;  
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
}

.users-image-card {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;    
}

.users-image-card img {
    width: 200px;
    height: 200px;
}

.users-details-card {
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    border-radius: 10px;    
}

.users-meta-info, .users-info {
    text-align: center;
    padding: 40px;
}

.user-recipes-category-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}

.create-recipe-parts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}


.create-recipe-meta {
    display: flex;
    flex-direction: row;
}

.create-recipe-difficulty {
    margin: 20px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
}

.create-recipe-meal_type, .create-recipe-cuisine {
    font-size: 20px;
    margin-left: 50px;
}

select {
    font-size: 18px;
    margin-left: 15px;
}

.create-recipe-main, .create-ingredients-main, .create-steps-main {
    width: 95%;
    margin: 20px auto;
}

.create-recipe-main input,  
.create-ingredients-main input, 
.create-steps-main input, 
.create-nutrition-container input {
    margin: 10px;
    font-size: 16px;
}

td{
    padding:0 7px;
}

.ingredients-nutrition-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.create-ingredients-main , .create-nutrition-main, .create-steps-main {
    margin: 0;
    padding: 0;
}

.create-nutrition-container {
    margin: 5px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.create-steps-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.create-steps-container div span{ 
   display: grid;
   grid-template-columns: 10fr 0.5fr;
   grid-gap: 10px;
}

.login-card-main {
    width: 40%;
    padding: 50px;
    margin: 50px auto;
    background-color: #e1fff3;
}

.login-card-container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
}

.login-card-email {
    margin: 40p;
}

.login-card-password {
    margin: 40px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .container {
    padding: 16px;
  }

  .login-card-main {
      width: 20%;
      margin: 50px auto;
  }

  #add-more-ingred, #add-more-steps, #add-comment{
    height: 60px;
    width: 60px; 
    margin: 20px; 
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 1rem;
    cursor: pointer;
    box-shadow: 0 10px 10px #ccc;
    z-index: 10;
  }

#to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    height: 60px;
    width: 60px;  
    line-height: 3.5rem;  
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    box-shadow: 0 10px 10px #ccc;
    z-index: 10; 
    cursor: pointer;
}

.likes-count-card-large {
    background-color: #ce93d8;
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    overflow-x: hidden;
    font-size: 40px;
}

.likes-count-card-small {
    background-color: #ce93d8;
    padding: 10px;
    position: relative;
    top: -15px;
    right: -5px;
    float: right;
    overflow-x: hidden;
    font-size: 20px;
    z-index: 100;
}

.comments-section {
    width: 90%;
    margin: 60px auto;
    padding: 30px 10px;
    background-color: #e1fff3;
}

.comments-main {
    position: relative;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.comments-container {
    margin: 20px 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #4CAF50;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.comments-meta-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px 0;
}

.comments-text textarea{
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

#comment-txt {
    display: none; 
    margin: 20px;
}

#comment-txt textarea {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.comments-user-info {
    font-size: 30px;
}

.comments-date-info {
    font-size: 20px;    
}

.comments-likes {
    font-size: 26px;
}
.comments-likes a{
    margin-right: 20px;
}




/* ANIMATIONS */

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}


 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  